In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Churn Prediction.csv")

In [3]:
dataset.head(3)

,account_id,subscription_id,start_date,end_date,plan_tier,No.of users,mrr_amount,arr_amount,is_trial,upgrade_flag,...,is_trial.1,churn_flag.1,churn_event_id,churn_date,reason_code,refund_amount_usd,preceding_upgrade_flag,preceding_downgrade_flag,is_reactivation,feedback_text
0,A-3c1a3f,S-8cec59,23-12-2023,12-04-2024,Enterprise,14,2786,33432,False,False,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A-9b9fe9,S-0f6f44,11-06-2024,NaN,Pro,17,833,9996,False,False,...,False,False,C-16ef52,04-09-2024,features,0.0,False,False,False,switched to competitor
2,A-659280,S-51c0d1,25-11-2024,NaN,Enterprise,62,0,0,True,True,...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.columns

Index(['account_id', 'subscription_id', 'start_date', 'end_date', 'plan_tier',
       'No.of users', 'mrr_amount', 'arr_amount', 'is_trial', 'upgrade_flag',
       'downgrade_flag', 'churn_flag', 'billing_frequency', 'auto_renew_flag',
       'account_name', 'industry', 'country', 'signup_date', 'referral_source',
       'plan_tier.1', 'seats', 'is_trial.1', 'churn_flag.1', 'churn_event_id',
       'churn_date', 'reason_code', 'refund_amount_usd',
       'preceding_upgrade_flag', 'preceding_downgrade_flag', 'is_reactivation',
       'feedback_text'],
      dtype='object')

In [5]:
ds=dataset.drop(["is_trial.1", 'churn_flag.1','account_id', 'subscription_id', 'plan_tier.1',"end_date",'signup_date','churn_date',"churn_event_id"], axis=1)

In [6]:
ds.head(3)

,start_date,plan_tier,No.of users,mrr_amount,arr_amount,is_trial,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,...,industry,country,referral_source,seats,reason_code,refund_amount_usd,preceding_upgrade_flag,preceding_downgrade_flag,is_reactivation,feedback_text
0,23-12-2023,Enterprise,14,2786,33432,False,False,False,True,monthly,...,DevTools,UK,event,1,NaN,NaN,NaN,NaN,NaN,NaN
1,11-06-2024,Pro,17,833,9996,False,False,False,False,monthly,...,EdTech,AU,other,5,features,0.0,False,False,False,switched to competitor
2,25-11-2024,Enterprise,62,0,0,True,True,False,False,annual,...,FinTech,IN,event,13,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
ds.columns

Index(['start_date', 'plan_tier', 'No.of users', 'mrr_amount', 'arr_amount',
       'is_trial', 'upgrade_flag', 'downgrade_flag', 'churn_flag',
       'billing_frequency', 'auto_renew_flag', 'account_name', 'industry',
       'country', 'referral_source', 'seats', 'reason_code',
       'refund_amount_usd', 'preceding_upgrade_flag',
       'preceding_downgrade_flag', 'is_reactivation', 'feedback_text'],
      dtype='object')

In [8]:
ds.rename(columns={'start_date':"Account creation date", "seats":"Licensed user count", 
                   'mrr_amount': "Monthly revenue",'arr_amount':"Annual revenue", 'is_trial': "Trial status",
                 'preceding_upgrade_flag':"Had upgrade within 90 days", 'preceding_downgrade_flag': "Had downgrade within 90 days" }, inplace=True)

In [9]:
ds.columns

Index(['Account creation date', 'plan_tier', 'No.of users', 'Monthly revenue',
       'Annual revenue', 'Trial status', 'upgrade_flag', 'downgrade_flag',
       'churn_flag', 'billing_frequency', 'auto_renew_flag', 'account_name',
       'industry', 'country', 'referral_source', 'Licensed user count',
       'reason_code', 'refund_amount_usd', 'Had upgrade within 90 days',
       'Had downgrade within 90 days', 'is_reactivation', 'feedback_text'],
      dtype='object')

In [10]:
ds.head(3)

,Account creation date,plan_tier,No.of users,Monthly revenue,Annual revenue,Trial status,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,...,industry,country,referral_source,Licensed user count,reason_code,refund_amount_usd,Had upgrade within 90 days,Had downgrade within 90 days,is_reactivation,feedback_text
0,23-12-2023,Enterprise,14,2786,33432,False,False,False,True,monthly,...,DevTools,UK,event,1,NaN,NaN,NaN,NaN,NaN,NaN
1,11-06-2024,Pro,17,833,9996,False,False,False,False,monthly,...,EdTech,AU,other,5,features,0.0,False,False,False,switched to competitor
2,25-11-2024,Enterprise,62,0,0,True,True,False,False,annual,...,FinTech,IN,event,13,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
ds.isnull().sum()

Account creation date              0
plan_tier                          0
No.of users                        0
Monthly revenue                    0
Annual revenue                     0
Trial status                       0
upgrade_flag                       0
downgrade_flag                     0
churn_flag                         0
billing_frequency                  0
auto_renew_flag                    0
account_name                       0
industry                           0
country                            0
referral_source                    0
Licensed user count                0
reason_code                     2587
refund_amount_usd               2587
Had upgrade within 90 days      2587
Had downgrade within 90 days    2587
is_reactivation                 2587
feedback_text                   3261
dtype: int64

In [12]:
ds.isna().sum()

Account creation date              0
plan_tier                          0
No.of users                        0
Monthly revenue                    0
Annual revenue                     0
Trial status                       0
upgrade_flag                       0
downgrade_flag                     0
churn_flag                         0
billing_frequency                  0
auto_renew_flag                    0
account_name                       0
industry                           0
country                            0
referral_source                    0
Licensed user count                0
reason_code                     2587
refund_amount_usd               2587
Had upgrade within 90 days      2587
Had downgrade within 90 days    2587
is_reactivation                 2587
feedback_text                   3261
dtype: int64

In [13]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Account creation date         5000 non-null   object
 1   plan_tier                     5000 non-null   object
 2   No.of users                   5000 non-null   int64
 3   Monthly revenue               5000 non-null   int64
 4   Annual revenue                5000 non-null   int64
 5   Trial status                  5000 non-null   bool
 6   upgrade_flag                  5000 non-null   bool
 7   downgrade_flag                5000 non-null   bool
 8   churn_flag                    5000 non-null   bool
 9   billing_frequency             5000 non-null   object
 10  auto_renew_flag               5000 non-null   bool
 11  account_name                  5000 non-null   object
 12  industry                      5000 non-null   object
 13  country                       5000 non-null   object
 14  referral_source               5000 non-null   object
 15  Licensed user count           5000 non-null   int64
 16  reason_code                   2413 non-null   object
 17  refund_amount_usd             2413 non-null   float64
 18  Had upgrade within 90 days    2413 non-null   object
 19  Had downgrade within 90 days  2413 non-null   object
 20  is_reactivation               2413 non-null   object
 21  feedback_text                 1739 non-null   object
dtypes: bool(5), float64(1), int64(4), object(12)
memory usage: 688.6+ KB

In [27]:
ds["refund_amount_usd"] = ds["refund_amount_usd"].fillna(0)

In [28]:
ds["reason_code"]= ds["reason_code"].fillna("Not Available")

In [30]:
ds["feedback_text"]=ds["feedback_text"].fillna("Not Available")

In [31]:
ds.isnull().sum()

Account creation date              0
plan_tier                          0
No.of users                        0
Monthly revenue                    0
Annual revenue                     0
Trial status                       0
upgrade_flag                       0
downgrade_flag                     0
churn_flag                         0
billing_frequency                  0
auto_renew_flag                    0
account_name                       0
industry                           0
country                            0
referral_source                    0
Licensed user count                0
reason_code                        0
refund_amount_usd                  0
Had upgrade within 90 days      2587
Had downgrade within 90 days    2587
is_reactivation                 2587
feedback_text                      0
dtype: int64

In [37]:
nan_rows = ds[ds['is_reactivation'].isna()]
nan_rows

,Account creation date,plan_tier,No.of users,Monthly revenue,Annual revenue,Trial status,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,...,industry,country,referral_source,Licensed user count,reason_code,refund_amount_usd,Had upgrade within 90 days,Had downgrade within 90 days,is_reactivation,feedback_text
0,23-12-2023,Enterprise,14,2786,33432,False,False,False,True,monthly,...,DevTools,UK,event,1,Not Available,0.0,NaN,NaN,NaN,Not Available
2,25-11-2024,Enterprise,62,0,0,True,True,False,False,annual,...,FinTech,IN,event,13,Not Available,0.0,NaN,NaN,NaN,Not Available
3,23-11-2024,Enterprise,5,995,11940,False,False,False,True,monthly,...,Cybersecurity,US,event,3,Not Available,0.0,NaN,NaN,NaN,Not Available
7,23-12-2024,Basic,16,304,3648,False,False,False,False,annual,...,HealthTech,US,partner,4,Not Available,0.0,NaN,NaN,NaN,Not Available
8,27-11-2024,Enterprise,23,4577,54924,False,False,False,False,annual,...,DevTools,US,ads,23,Not Available,0.0,NaN,NaN,NaN,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4989,25-07-2024,Enterprise,13,2587,31044,False,False,False,True,monthly,...,DevTools,DE,ads,5,Not Available,0.0,NaN,NaN,NaN,Not Available
4992,03-09-2024,Enterprise,27,5373,64476,False,False,False,False,annual,...,FinTech,US,partner,9,Not Available,0.0,NaN,NaN,NaN,Not Available
4994,15-08-2023,Enterprise,33,6567,78804,False,False,False,False,annual,...,FinTech,US,event,9,Not Available,0.0,NaN,NaN,NaN,Not Available
4996,05-12-2024,Pro,23,1127,13524,False,False,False,False,monthly,...,DevTools,US,partner,4,Not Available,0.0,NaN,NaN,NaN,Not Available
4997,15-12-2024,Pro,25,1225,14700,False,False,False,False,annual,...,Cybersecurity,US,organic,19,Not Available,0.0,NaN,NaN,NaN,Not Available

In [44]:
ds["Had upgrade within 90 days"]=ds["Had upgrade within 90 days"].fillna("Unknown")
ds["Had downgrade within 90 days"]=ds["Had downgrade within 90 days"].fillna("Unknown")

In [45]:
ds.isnull().sum()

Account creation date           0
plan_tier                       0
No.of users                     0
Monthly revenue                 0
Annual revenue                  0
Trial status                    0
upgrade_flag                    0
downgrade_flag                  0
churn_flag                      0
billing_frequency               0
auto_renew_flag                 0
account_name                    0
industry                        0
country                         0
referral_source                 0
Licensed user count             0
reason_code                     0
refund_amount_usd               0
Had upgrade within 90 days      0
Had downgrade within 90 days    0
is_reactivation                 0
feedback_text                   0
dtype: int64

In [46]:
ds.head(5)

,Account creation date,plan_tier,No.of users,Monthly revenue,Annual revenue,Trial status,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,...,industry,country,referral_source,Licensed user count,reason_code,refund_amount_usd,Had upgrade within 90 days,Had downgrade within 90 days,is_reactivation,feedback_text
0,23-12-2023,Enterprise,14,2786,33432,False,False,False,True,monthly,...,DevTools,UK,event,1,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
1,11-06-2024,Pro,17,833,9996,False,False,False,False,monthly,...,EdTech,AU,other,5,features,0.0,False,False,False,switched to competitor
2,25-11-2024,Enterprise,62,0,0,True,True,False,False,annual,...,FinTech,IN,event,13,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
3,23-11-2024,Enterprise,5,995,11940,False,False,False,True,monthly,...,Cybersecurity,US,event,3,Not Available,0.0,Unknown,Unknown,Unknown,Not Available
4,10-01-2024,Enterprise,27,5373,64476,False,False,False,False,monthly,...,FinTech,US,ads,27,budget,0.0,False,False,False,Not Available

In [48]:
ds["plan_tier"].value_counts()

plan_tier
Enterprise    1723
Pro           1675
Basic         1602
Name: count, dtype: int64

In [49]:
ds["Annual revenue"].value_counts()

Annual revenue
0         778
38208      56
11172      51
31044      50
10584      44
         ...
19380       1
105252      1
181488      1
389244      1
77616       1
Name: count, Length: 306, dtype: int64

In [52]:
ds.columns

Index(['Account creation date', 'plan_tier', 'No.of users', 'Monthly revenue',
       'Annual revenue', 'Trial status', 'upgrade_flag', 'downgrade_flag',
       'churn_flag', 'billing_frequency', 'auto_renew_flag', 'account_name',
       'industry', 'country', 'referral_source', 'Licensed user count',
       'reason_code', 'refund_amount_usd', 'Had upgrade within 90 days',
       'Had downgrade within 90 days', 'is_reactivation', 'feedback_text'],
      dtype='object')

In [63]:
ds.to_csv("Churn_Prediction_Preprocessed.csv", index=False)